.bio__container {
  color: #fff;
  display: flex;
  padding: 5rem 20rem;
  flex-direction: column;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.bio__about {
  display: flex;
  justify-content: center;
}

.bio__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.bio__dp {
  width: 400px;
  height: 400px;
  margin-top: 2rem;
  object-fit: contain;
}

.bio__content { 
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 5rem;
  line-height: 1.5;
}

.bio__content > h4 {
  font-size: 1.6rem;
}

.bio__content > p{
  padding: 1rem 0;
  
}

.bio__details {
  display: flex;

  p{
    padding: 0.3rem 0;
    font-size: 15px;
  }
}

.bio__rightSection {
  margin-left: 2rem;

  @media screen and (max-width: 418px) {
    margin-left: 1rem;
  }
}

.bio__button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border-radius: 50px;
  background: #01BF71;
  white-space: nowrap;
  outline: none;
  padding: 14px 48px;
  color: #010606;
  border: none;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  max-width: 300px;
  text-decoration: none !important;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
  }
}

.bio__buttonIcon {
  margin-left: 8px;
  font-size: 20px;
}

.bio__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.bio__socialIcons {
  font-size: 30px;
  cursor: pointer;

  &:not(:last-child){
    margin-right: 15px;
  }
}

.bio__skills {
  margin-top: 20px;
}
.bio__skillsContainer {
  margin: 4rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
}

// Media Queries

@media screen and(max-width: 1550px) {
  .bio__container {
    padding: 2rem 10rem;
  }
}

@media screen and(max-width: 1130px) {
  .bio__container {
    padding: 2rem 6rem;
  }
}

@media screen and (max-width: 930px) { 
  .bio__container {
    padding: 20px 0;
    margin:0 10px;  
  }

  .bio__heading{
    margin-top: -1rem;
  }

  .bio__about {
    flex-direction: column;
  }

  .bio__image {
    padding-top: 0;
  }

  .bio__dp {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }

  .bio__content {
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    line-height: normal;
  }

  .bio__skills {    
    margin: 2rem 2rem;
  }

  .bio__heading {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .bio__content {
    margin-left: 10px;
    margin-right: 10px;
    line-height: normal;
  }

  .bio__skillsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}