.bio__container {
  color: #fff;
  background:#010606;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 900px;
  @media screen and (max-width: 768px) {
    padding: 20px 0;
  }
}

.bio__heading {
  display: flex;
  justify-content: center;
}

.bio__about {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 930px) {
    flex-direction: column;
  }
}

.bio__image {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.bio__dp {
  width: 400px;
  height: 400px;
  margin-top: 2rem;
  object-fit: contain;

  @media screen and (max-width: 768px) {
    margin-top: 0;
    width: 90%;
    height: 90%;
  }
}

.bio__content { 
  display: flex;
  flex-direction: column;
  margin-left: 6rem;

  @media screen and (max-width: 930px) {
    margin-top: 1.5rem;
    align-items: center;
    margin-left: 0;
  }

  @media screen and (max-width: 768px) {
    margin: 0 10px;
  }
}

.bio__content > h4 {
  font-size: 1.6rem;
}

.bio__content > p{
  padding: 1rem 0;
}

.bio__details {
  display: flex;

  p{
    padding: 0.3rem 0;
  }
}

.bio__rightSection {
  margin-left: 2rem;
}
