.portfolio {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  color: #fff;
  @media screen and (max-width: 850px) {
    height: 100% !important;
    padding-top: 20px;
  }
}

.css-1gzxeik {
  display: flex;
  justify-content: center;
}

.portfolio__button {
  display: flex;
  margin-top: 2rem;
}

.portfolio__row {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 380px) {
  .css-1gzxeik > h1 {
    margin-left: -45px;
  }
}
// This class comes from Fade effect
.css-1gzxeik {
  width: 80%;
}

.portfolio__button > button {
  margin-right: 20px;
}

.portfolio__buttonActive > button {
  background-color: #01bf71;
}
