.skills__title {
  font-size: 1.3rem;
  font-weight: 400;
}

.skills__title > svg {
  vertical-align:middle;
  font-size:32px;
}

.skills__title > img {
  height:35px;
  width: auto;
  vertical-align:middle;
}

.sills__bar {
  display: flex;
  align-items: center;
}

.skills__progress {
  width: 100%;
}

.skills__progressBar {
  width: 100%;
  height: 0.5rem;
  margin-left: 0.4rem;
  background-color: #0381ff3f;
  position: relative;
  border-radius: 2px;
}

.skills__innerProgress {
  position: absolute;
  background-color:#0099CC;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: 3s all ease;
  transition-delay: 0.5s; 
  border-radius: 2px;
}