.card__container {
  margin: 20px;
  border-radius: 15px !important;
  border: none;
}

.card__media {
  height: 300px;
  width: 400px;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: 1350px) {
    height: 250px;
    width: 350px;
  }

  @media screen and (max-width: 1075px) {
    height: 200px;
    width: 300px;
  }

}

.scrollable{
  @media screen and (max-width: 1350px) {
    overflow-y: scroll !important;
  }
}

.card__media > img {
  width: 400px;
  height: 300px;
}

.card__media > p {
  padding: 10px;
}

