.card__container {
  margin: 20px;
}

.card__media {
  height: 300px;
  width: 400px;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: 1350px) {
    height: 200px;
    width: 300px;
  }

  @media screen and (max-width: 1075px) {
    height: 200px;
    width: 250px;
  }

  @media screen and (max-width: 850px) {
    height: 300px;
    width: 350px;
  }

  @media screen and (max-width: 620px) {
    height: 200px;
    width: 250px;
  }
}

.card__media > img {
  width: 400px;
  height: 300px;
  scale: 1.5;
}